body {
margin: 0;
  font-family: JetBrainsMono-Bold, JetBrainsMono-Regular, monospace;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


.dragging {
  list-style: none;
  background: #9aadc0;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.not-dragging1 {
  color: white;
}

.dragging1 {
  color: white;

  background-color: #222;
  animation-name: color;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #222;
  }
  50% {
    background-color: #4285f4;
  }
  100% {
    background-color: #222;
  }
}

.outer-div {
  overflow: auto;
  border: 4px solid red;
}


#added {
  /* background-color: #222; */
  animation-name: color2;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes color2 {
  0% {
    background-color: white;
    color: black;
  }
  50% {
    background-color: #4285f4;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}

#foo {
  width: 160px;
}