body, html {
    margin-bottom: 80px;
}


.scrollTop {
    /*position: fixed;*/
    width: 100%;
    bottom: 0;
    align-items: center;
    height: 20px;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
    display: block;
    margin: 10px;
}

.scrollTop:hover {
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}